<div class="header">

  <div class="col-div">
    <div class="inner">
      <ion-label class="mylabel">Account Balance</ion-label>
      <h2>$ 450,600.00</h2>
    </div>
  </div>

  <div class="col-div">
    <div class="inner">
      <ion-label>
        <ion-icon name="add-circle"></ion-icon>
      </ion-label>
      <h4>Add Money</h4>
    </div>
  </div>

</div>

<div class="actions">
  <div class="action">
    <div>
      <ion-icon name="arrow-up"></ion-icon>
      <span>Send Money</span>
    </div>
  </div>
  <div class="action">
    <div>
      <span>Request</span>
      <ion-icon name="arrow-down"></ion-icon>
    </div>
  </div>
</div>

